.dishes{
  display:flex;
  justify-content: center;
  align-items: center;
}



.total-price{
  width:200px;
  height:40px;
  border:1px solid #000;
}


.dish-kinds{
  color:#ff7f00;
  border:none;
  border-radius: 10px;
  cursor:pointer;
  transition:background-color 0.2s;
}

.dish-kinds.add{
  background-color: rgb(65, 81, 255);
  color:#fff;
}

.dish-kinds:hover{
  background-color: #fff;
}
.dish-kinds.add:hover{
  background-color: rgb(146, 57, 255);
}


.move-address{
  display:none;
}
