{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href=" {% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/foodbox.css' %}">
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
  <title>food box</title>
</head>
<body>
  <header class="header">
    <div class="title">
      <a href="{% url 'post_detail' %}" class="title_name">food box</a>
    </div>

    <div class="select-menu">
        <ul class="select">
          <li>
            <a href="{% url 'post_detail' %}"  class="menu-button">order</a>
          </li>
          <li>
            <a href=""  class="menu-button">order inquiry</a>
          </li>
          <li>
            <a href=""  class="menu-button">shopping basket</a>
          </li>
        </ul>
    </div>
  </header>
  {% block content%}

  {% endblock %}


  <script src="{% static 'js/foodbox.js' %}"></script>
</body>
</html>
