{% extends 'blog/base.html' %}

{% block content %}


    <article class="contents">
      <div class="food-explain">
        <p class="food-desc">영양가 없는 식단만 먹고 있다면?</p>
        <br>
        <p class="food-desc">먹기 싫은 음식을 억지로 먹고 있다면?</p>
        <br>
        <p class="food-desc">부모님의 따뜻한 밥 한끼가 그립다면?</p>
        <br>
        <p class="food-desc">완벽한 한끼를 장식하고 싶다면?</p>
        <br>
        <p class="food-desc"><strong>food box</strong></p>
      </div>

      <div class="food-img">
        <div class="black-background">
          <span class="food-img-text">welcome To Food Box</span>
        </div>
        <div class="food-img-slide">

        </div>
        <div class="button-dots">
          <button class="food_img_button"></button>
          <button class="food_img_button"></button>
          <button class="food_img_button"></button>
          <button class="food_img_button"></button>
        </div>
      </div>

    </article>



    <footer class="end">

    </footer>

{% endblock %}
