{% extends 'blog/base.html' %}

{% block content %}


    <section class="food-img">
      <div class="food-img-slide">

      </div>
      <div class="button-dots">
        <button class="food_img_button"></button>
        <button class="food_img_button"></button>
        <button class="food_img_button"></button>
        <button class="food_img_button"></button>
      </div>
    </section>

    <section class="food-explain">

    </section>

    <footer class="end">

    </footer>

{% endblock %}
